<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Managment</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/grid.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../static/font/fontawesome-free-6.4.2-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="app">
        <header class="header">
            <div class="grid wide">
                <nav class="header__navbar">
                    <img src="../static/icon/logoclient.png" alt="" class="header__navbar-icon">
                    <ul class="header__navbar-list">

                        <li class="header__navbar-item">
                            <a href="#about" style = "text-decoration: none; color: var(--primary-color);">About</a>
                        </li>
                        <li class="header__navbar-item">
                            <a href="#plan" style = "text-decoration: none; color: var(--primary-color);">Plan</a>
                        </li>
                        <li class="header__navbar-item">
                            <a href="#coach" style = "text-decoration: none; color: var(--primary-color);">Coaches</a>
                        </li>
                        <li class="header__navbar-item">
                            <a href="#visit" style = "text-decoration: none; color: var(--primary-color);">Visit our Gym</a>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li class="header__navbar-item">
                            {% if current_user.username == 'admin' %}
                                <a href="{{url_for('account')}}" style = "text-decoration: none; color: var(--primary-color);">Account</a>
                            {% else %}
                                <a href="{{url_for('user')}}" style = "text-decoration: none; color: var(--primary-color);">Account</a>

                            {% endif %}
                        </li>
                        <li class="header__navbar-item">
                            <a href="{{url_for('logout')}}" style = "text-decoration: none; color: var(--primary-color);">Log Out</a>
                        </li>
                        {% else %}
                        <li class="header__navbar-item">
                            <a href="{{url_for('login')}}" style = "text-decoration: none; color: var(--primary-color);">Sign In</a>
                        </li>

                        <li class="header__navbar-item" style="background-color: var(--yellow-color);">
                            <a href="{{url_for('register')}}" style = "text-decoration: none; color: var(--primary-color);">Sign Up</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>
        <div class="app__content">
            <div class="home">
                <div class="home__title">
                    <ul class="home__title-list">
                        <li class="home__title-item">START A BETTER</li>
                        <li class="home__title-item">SHAPE OF YOU!</li>
                        <li class="home__title-item" style="color: var(--light-yellow-color)">COME JOIN US!</li>
                    </ul>
                </div>
                <img src="../static/icon/home_icon.png" alt="" class="home__icon">
            </div>
            <div class="about" id="about">
                <div class="about__title">
                    <h3 class="about__title-item" style="font-size:3.6rem;">About</h3>
                    <h1 class="about__title-item" style="font-size:4.8rem;">STAMINA GYM FOR MAN & WOMAN</h1>
                </div>
                <div class="about__content">
                    <div class="about__content-icon about__content-icon--left">

                    </div>
                    <div class="about__content-info">
                        <p class="about__content-text">Stamina Gym Fitness Center provides proper training and
                            conditioning
                            for members who want to improve and transform their body with Program depend on the body
                            composition.</p>
                        <span class="" style="color: var(--white-color); font-size: 3.6rem; font-weight: 700;">What we
                            offer</span>
                        <div class="about__content-feature">
                            <img src="../static/icon/OfferIcon1.png" alt="" class="about__content-feature-icon">
                            <img src="../static/icon/OfferIcon2.png" alt="" class="about__content-feature-icon">
                            <img src="../static/icon/OfferIcon3.png" alt="" class="about__content-feature-icon">
                        </div>
                    </div>
                    <div class="about__content-icon about__content-icon--right">

                    </div>
                </div>
            </div>
            <div class="plan" id="plan">
                <div class="plan__title">
                    <span class="plan__title-text">JOIN OUR MEMBERSHIP</span>
                </div>
                <div class="plan__content">
                    <div class="plan__content-title">
                        <span class="plan__content-title-text"
                            style="margin-left: 30px;margin-right: 20px; color: var(--primary-color)">Our</span>
                        <span class="plan__content-title-text">Plan:</span>
                    </div>
                    <div class="plan__content-features">
                        <div class="plan__feature-container" style="background-color: #FFFFFF; margin-top: 80px; ">
                            <div class="plan__feature  plan__feature1">
                                <img src="../static/icon/mdi_chess-pawn.png" alt="">
                                <span class="plan__feature-info">Anual</span>
                                <span class="plan__feature-info">Membership</span>
                            </div>
                        </div>
                        <div class="plan__feature-container"
                            style="background-color: #3E3E3E; margin-top: 100px; margin-bottom: -20px;">
                            <div class="plan__feature  plan__feature2">
                                <div class="plan__feature-header">
                                    <span class="plan__feature-header-icon">7</span>
                                    <img src="../static/icon/mdi_chess-knight.png"
                                        style="width: 36px; align-self: flex-start" alt="">
                                </div>
                                <span class="plan__feature-info-top">Days</span>
                                <span class="plan__feature-info">Weekly Rate</span>
                            </div>
                        </div>
                        <div class="plan__feature-container" style="background-color: #77749B; margin-top: 80px;">
                            <div class="plan__feature  plan__feature2">
                                <div class="plan__feature-header">
                                    <span class="plan__feature-header-icon">1</span>
                                    <img src="../static/icon/mdi_chess-bishop.png"
                                        style="width: 36px; align-self: flex-start" alt="">
                                </div>
                                <span class="plan__feature-info-top">Month</span>
                                <span class="plan__feature-info">Month Rate</span>
                            </div>
                        </div>
                        <div class="plan__feature-container"
                            style="background-color: #332F64; margin-top: 100px; margin-bottom: -20px;">
                            <div class="plan__feature  plan__feature2">
                                <div class="plan__feature-header">
                                    <span class="plan__feature-header-icon">6</span>
                                    <img src="../static/icon/mdi_chess-king.png"
                                        style="width: 36px; align-self: flex-start" alt="">
                                </div>
                                <span class="plan__feature-info-top">Months</span>
                                <span class="plan__feature-info">Biannual Rate</span>
                            </div>
                        </div>
                        <div class="plan__feature-container"
                            style="background-color: var(--primary-color); margin-top: 80px;">
                            <div class="plan__feature  plan__feature2">
                                <div class="plan__feature-header">
                                    <span class="plan__feature-header-icon">1</span>
                                    <img src="../static/icon/mdi_crown.png" style="width: 36px; align-self: flex-start"
                                        alt="">
                                </div>
                                <span class="plan__feature-info-top">Year</span>
                                <span class="plan__feature-info">Annual Rate</span>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="coach" id = "coach">
                <h3 class = "coach-title">COACHES</h3>
                <div class="coach-content">
                    <div class="coach-item">
                        <img src="../static/icon/avatar/khoi.jpg" alt="" class = "coach_item__img">
                        <span class = "coach_item__name">Nguyên Khôi</span>
                    </div>
                    <div class="coach-item">
                        <img src="../static/icon/avatar/khoi.jpg" alt="" class = "coach_item__img">
                        <span class = "coach_item__name">Nguyên Khôi</span>
                    </div>
                    <div class="coach-item">
                        <img src="../static/icon/avatar/khoi.jpg" alt="" class = "coach_item__img">
                        <span class = "coach_item__name">Nguyên Khôi</span>
                    </div>
                </div>
            </div>
            <div class="visit" id = "visit">
                <h3 class = "visit-title">VISIT OUR GYM</h3>
                <div class="visit-content">
                    <img src="../static/icon/BACHKHOA.png" alt="" class = "visit_item__img">
                    <div class="visit-item">
                        <span class = "visit_item__name">Address: Nguyen Luong Bang, Lien Chieu, Danang</span>
                        <span class = "visit_item__name">Email: tinvikhoi@gmail.com</span>
                        <span class = "visit_item__name">Contact Number: 0686868686</span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</body>

</html>